In [79]:
import pandas as pd
import numpy as np
import string
import datetime
import random

In [68]:
nrows = 10000

In [69]:
np.random.seed(1)
bools = np.random.randint(0, 2, nrows, dtype=bool)

In [70]:
np.random.seed(2)
ints = np.random.randint(0, nrows, nrows, dtype=int)

In [71]:
np.random.seed(3)
floats = nrows*np.random.rand(nrows)
floats = floats.astype(dtype=np.float32)

In [72]:
np.random.seed(4)
doubles = nrows*np.random.rand(nrows)
doubles = doubles.astype(dtype=np.float64)

In [78]:
np.random.seed(5)
strings = [''.join(random.choice(string.ascii_lowercase + string.digits) for _ in range(10)) for i in range(nrows)]

In [74]:
# dates
np.random.seed(6)
x = np.random.rand(nrows)
start = datetime.datetime(1970,1,1,0,0)
end = start + datetime.timedelta(days=365 * 100)
dates = start + (end-start)*x

In [75]:
df = pd.DataFrame()
df['field0'] = bools
df['field1'] = ints
df['field2'] = floats
df['field3'] = doubles
df['field4'] = dates
df['field5'] = strings

In [76]:
df

,field0,field1,field2,field3,field4,field5
0,True,7336,5507.979004,9670.298390,2059-03-24 09:29:33.568575,8xe7axw6sj
1,False,2575,7081.478027,5472.322492,2003-03-06 06:18:33.997792,fa3l4wvy57
2,True,6637,2909.047363,9726.843600,2052-01-25 20:42:42.475178,kh2ginh7dy
3,False,2514,5108.275879,7148.159937,1974-03-02 22:14:38.887148,ztmoewi9tk
4,False,1099,8929.469727,6977.288246,1980-10-04 11:15:05.846069,22ehokkj8b
...,...,...,...,...,...,...
9995,True,6268,309.433777,9770.866834,2023-10-28 21:37:04.444996,xxhrergcil
9996,False,1119,6295.922363,94.957223,2068-01-25 13:00:45.535325,luzcz4xeur
9997,True,3655,266.572571,5430.262894,2009-01-24 23:15:57.724187,h4q3qxmrqt
9998,False,8485,9217.359375,6250.362720,1987-11-06 21:47:19.642597,q1zrhmkun3
9999,True,2589,6371.855469,5060.168991,2057-09-04 21:49:46.578193,dlxrcroooj